<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
      <div class="w-100">
        <h2 class="mb-5">Awards &amp; Certifications</h2>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Arcadia University Dean's Distinguished Honors List — Fall 2017 - Spring 2019</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Phi Kappa Phi Honors Society — Active Member Since 2019</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Certified in Operation of Tenable.sc</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            National Honor Society — Member Since 2012</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            SeaPerch Underwater Robotics Competition 2016 — Achievement Against All Odds</li>
          <li>
        </ul>
      </div>
    </section>