<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Cyber Security Intern</h3>
            <div class="subheading mb-3">Sabre Systems, Inc.</div>
            <p>Assisting in conducting cyber assessments of government, commercial and private IT networks, as well as with vulnerability/compliance assessments and penetration testing for specific companies, applications, services, networks and servers, reviewing and updating documentation for policies, procedures, standards and guidelines, and assisting with onboarding of new interns. </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">February 2019 - Present</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">IT Helpdesk Worker</h3>
            <div class="subheading mb-3">Arcadia University</div>
            <p>Troubleshooting tech issues across campus at the student, staff, faculty, and administrative levels, updating/maintaining lab technology across campus, providing a positive customer experience at the front desk and phone line, working with the ticketing system to ensure orderly workflow, and assisting in onboarding of new student workers.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2018 - Present</span>
          </div>
        </div>



      </div>

    </section>