<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>Academically, besides cyber security, I have a keen interest in artificial intelligence, particularly deep neural networks, and data mining. Outside of the realm of Computer Science, I enjoy reading about psychology and law, as well as physics, calculus, graph theory, and robotics.</p>
        <p class="mb-0">Outside of academic pursuits, I greatly enjoy practicing art (particuarly sketching), going on walks in nature, reading and writing fantasy, petting dogs, and attempting (albeit poorly) to become a better singer.</p>
      </div>
</section>