<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Tyler
          <span class="text-primary">Ramdass</span>
        </h1>
        <div class="subheading mb-5">Horsham, PA 19044 ·
          <a href="mailto:tylerr295@hotmail.com">tylerr295@hotmail.com</a>
        </div>
        <p class="lead mb-5">I am experienced in cybersecurity assessment and compliance and work to implement security standards in line with the ever-evolving industry best-practice.</p>
        <div class="social-icons">
          <!--
          <a href="#">
            <i class="fab fa-linkedin-in"></i>
          </a>
          !-->
          <a href="https://github.com/tramdass" target="_blank">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://twitter.com/tyler_ramdass" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
          <!--
          <a href="#">
          <i class="fab fa-facebook-f"></i>
          </a>
          !-->
        </div>
      </div>
    </section>
