<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
  <div class="w-100">
    <h2 class="mb-5">Skills</h2>

    <div class="subheading mb-3">Programming/Markup Languages &amp; Operating Systems</div>
    <ul class="list-inline dev-icons">
      <li class="list-inline-item">
        <i class="fab fa-html5"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-css3-alt"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-java"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-git"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-node-js"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-python"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-js-square"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-windows"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-apple"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-linux"></i>
      </li>

    </ul>

    <div class="subheading mb-3">Software &amp; Tools</div>

    <table>
      <tbody>
        <tr>
          <td>
            <ul class="fa-ul mb-0">
          <li>
            <i class="fas fa-spinner fa-pulse"></i> Burp Suite Pro</li>
          <li>
            <i class="fas fa-spinner fa-pulse"></i> Nessus
          </li>
          <li>
            <i class="fas fa-spinner fa-pulse"></i> Tenable.sc
          </li>
          <li>
            <i class="fas fa-spinner fa-pulse"></i> Metasploit
          </li>
          <li>
            <i class="fas fa-spinner fa-pulse"></i> Wireshark
          </li>
          <li>
            <i class="fas fa-spinner fa-pulse"></i> Nmap
          </li>
          <li>
            <i class="fas fa-spinner fa-pulse"></i> Aircrack
          </li>
          <li>
            <i class="fas fa-spinner fa-pulse"></i> Amazon Web Services</li>
          <li>
            <i class="fas fa-spinner fa-pulse"></i> Visual Studio</li>
            </ul>
        </td>
        
        
          <td>
            <ul class="fa-ul mb-0">
          <li>
            <i class="fas fa-spinner fa-pulse"></i> Eclipse
          </li>
          <li>
            <i class="fas fa-spinner fa-pulse"></i> LaTeX
          </li>
          <li>
            <i class="fas fa-spinner fa-pulse"></i> Unity Development Engine</li>
          <li>
            <i class="fas fa-spinner fa-pulse"></i> Microsoft Office Suite</li>
          <li>
            <i class="fas fa-spinner fa-pulse"></i> Adobe Photoshop</li>
          <li>
            <li>
              <i class="fas fa-spinner fa-pulse"></i> Adobe Premiere</li>
            <li>
              <i class="fas fa-spinner fa-pulse"></i> Adobe Audition</li>
            <i class="fas fa-spinner fa-pulse"></i> Final Cut Pro</li>
          <li>
            <i class="fas fa-spinner fa-pulse"></i> Logic Pro</li></td>
          </ul>
        </tr>
      </tbody>
    </table>
          

  </div>

  </div>
</section>